################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dinner/Dinner/bin/Debug/netstandard2.0
/Dinner/Dinner/obj
/Dinner/Dinner.Android/bin/Debug
/Dinner/Dinner.Android/obj
